{% extends 'core/base.html' %}

{% block content %}

<h2 class="display-6 text-center mb-4">Submissions</h2>

{% for survey in survery_set_distinct_name %}
<div class="list-group mb-4">
    {% for submission in survery_set_distinct %}
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ submission.hash }}</h5>
            <small class="text-muted"></small>{{ submission.created_at }}
        </div>
        <small class="text-muted">{{ survey.title }}</small>
    </a>
    {% endfor %}
</div>
{% endfor %}

{% endblock content %}